.item_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.jeans_img {
    max-width: 100%;
}

.item_box_card {
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_box {
    display: flex;
    flex-wrap: wrap;
}

.old_price_jeans,
.old_price_modal {
    text-decoration: line-through;
    color: rgba(0, 0, 0, .4);
    padding-left: 5px;
    font-size: 20px;
    color: rgb(145, 145, 145);
}

.new_price_jeans,
.new_price_modal {
    font-size: 18px;
    padding-left: 5px;
    font-weight: 600;
}

.new_price_modal {
    font-size: 30px !important;
}

.prise_jeans,
.brand_jeans_name {
    display: flex;
}

.brand_jeans {
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}

.prise_jeans b {
    padding-right: 10px;
}

.flex-icon {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: grey;
    position: relative;
}

.flex-body {
    position: absolute;
    z-index: 200;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 298px;
}

.m-0 {
    margin-right: 0 !important;
}

.flex-body span {
    display: flex;
    flex-direction: column;
}

.flex-body>span>p {
    margin: 0 5px !important;
    font-size: 16px !important;
    color: grey;
}

.modalImg {
    width: 50%;
}

.modal_content {
    display: flex;
}

.modal_desc {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal_prices {
    padding: 20px 0px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
}

.count {
    display: flex;
    padding: 20px 0px 20px 20px;
    align-items: center;
}

.counter {
    width: 35px !important;
    margin: 0px 20px !important;
    text-align: center !important;
}

.count>button {
    width: 30px;
    height: 30px;
    background-color: rgb(231, 231, 231);
    border: none;
}

.modal_desc>p {
    padding-left: 20px;
}

.inputs {
    padding-left: 20px;
}

.modal_new {
    max-height: 100%;
    top: 5% !important;
}

#button_send,
#button_buy {
    width: 100px;
    height: 40px;
    margin: 20px 0;
    font-size: 15px;
}

#button_buy {
    margin: 20px 0 0 75px;
}

.cart_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.shopping_bag {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cart_img {
    width: 100px;
    height: 100px;
}

.modal2_name_color {
    display: flex;
    flex-direction: column;
}