.shirt_product {
    margin: 20px 0px;
    height: auto;
}

.shirt_name {
    font-size: 1.1em;
    font-weight: 200;
}

.shirtNameModal {
    font-weight: 500;
}

.price {
    margin: 10px 0;
}

.newPrice {
    font-weight: bolder;
}

.newPriceModal {
    font-weight: bolder;
    font-size: 1.8em;
}

.oldPrice {
    text-decoration: line-through;
    opacity: 0.6;
}

.modalInfo {
    display: none;
}

.modal-img {
    width: 100%;
}

.orderBox {
    display: flex;
    align-items: center;
    gap: 20px;
}